.tail {
   width:100vw;
   height: 60px;
   position: absolute;
   right: 0;
   bottom:0;
   background-color: var(--form-color);
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    display: flex;
    justify-content: space-between;
}

.tailcolumn{
    
    width: 95%;
    padding-left: 50px;
    text-align: center;
    padding-top: 8px;
}

.weather {
    color : var(--orange-color);
    font-size: 13px;
}
.todayof {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    
}

 .today_random {
    background-color:var(--orange-color) ;
 }

.calender {
    color: var(--orange-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    width : 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2px;
    margin-right: 10px;
   
}

.date {
    margin: 0;
    font-size: 15px;
    text-shadow: 2px, 2px, black;
    margin-top: 5px;
}

.clock {
    display: flex;
    align-items: center;
    margin:0;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 30px;
    padding: 0;
}



